<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.novel.reader"
    android:installLocation="auto"
    android:versionCode="60"
    android:versionName="3.2.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light"
        android:windowSoftInputMode="adjustPan"
        android:name="com.analytics.NovelReaderAnalyticsApp">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CategoryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".NovelIntroduceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ArticleActivity"
            android:configChanges="keyboardHidden|orientation"
            android:hardwareAccelerated="false" >
        </activity>
        <activity
            android:name=".SettingActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name=".DonateActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".BookmarkActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name=".DownloadActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name=".MyNovelActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name=".MyDownloadArticleActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name=".NovelContentsActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.vpadn.widget.VpadnActivity"
            android:configChanges="orientation|keyboardHidden|navigation|keyboard|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" >
        </activity>

        <!-- HODo Ad 設定 -->
        <activity android:name="com.hodo.ADActivity" />
        <activity
            android:name="com.hodo.SplashaActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.hodo.SVideoActivity"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.kuad.ADDisplay"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.kuad.BlockADDisplay"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name="com.mopub.mobileads.MoPubActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.mobileads.MraidActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.common.MoPubBrowser" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.mobileads.MraidVideoPlayerActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>

        <!-- MM -->
        <activity
            android:name="com.millennialmedia.android.MMActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|keyboard" />

        <!-- Inmobi -->
        <activity
            android:name="com.inmobi.androidsdk.IMBrowserActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:hardwareAccelerated="true" />


        <service android:name=".service.DownloadService" >
        </service>

        <receiver
            android:name=".util.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.novel.reader" />
            </intent-filter>
        </receiver>

        <service android:name=".service.CollectNovelsService" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>
            </intent-filter>
        </service>

        <activity
            android:name=".NovelRecommendActivity"
            android:label="@string/title_activity_novel_recommend" >
        </activity>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="061f74624449122730ac6789bc4ae591c8701a7c"/>

        <!-- Used for Google Play Store Campaign Measurement-->;
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission
        android:name="com.novel.reader.pushnotification.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.novel.reader.pushnotification.permission.C2D_MESSAGE" />

    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->


    <!--
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    -->

    <uses-permission android:name="com.android.vending.BILLING" />

</manifest>
